BOT_NAME="Bot"
DEBUG="True" # False = PROD; True = DEV
DEFAULT_IMG=""

# SECRETS
DISCORD_PRIMARY_KEY=""
DISCORD_BETA_KEY=""

# thps.run API
THPSRUN_API_KEY=""
THPS_RUN_API="" # Base URL of the thps.run API
THPS_RUN_SITE="https://thps.run"

# Twitch
TWITCH_TOKEN=""
TWITCH_ID=""
TTV_TIMEOUT="5" # Time before online embeds become offline embeds.

SENTRY_SDN="<SENTRY_IO_SDN>"